@model MasterProject.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>

    <div>
        <form asp-controller="Recipes" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
    </div>

    <div>
        <img src="~/images/400.jpg" alt="Zdjecie przepisu" class="img-fluid mx-auto d-block" style="width: 750px; height: 750px;">
    </div>

    <div style="text-align: right;">
        <form asp-controller="Recipes" asp-action="AddRating" method="post">
            <input type="hidden" name="recipeId" value="@Model.Id" />

            <label>Rate (1-5):</label>
            <button type="submit" name="ratingValue" value="1">1</button>
            <button type="submit" name="ratingValue" value="2">2</button>
            <button type="submit" name="ratingValue" value="3">3</button>
            <button type="submit" name="ratingValue" value="4">4</button>
            <button type="submit" name="ratingValue" value="5">5</button>
        </form>
    </div>

    <div>
        <h4>Szczegóły</h4>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Kcal)</dt>
                    <dd>@Html.DisplayFor(model => model.Kcal)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Carbohydrates)</dt>
                    <dd>@Html.DisplayFor(model => model.Carbohydrates)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Fat)</dt>
                    <dd>@Html.DisplayFor(model => model.Fat)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Fiber)</dt>
                    <dd>@Html.DisplayFor(model => model.Fiber)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Protein)</dt>
                    <dd>@Html.DisplayFor(model => model.Protein)</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>Składniki</dt>
                    <dd>
                        <ul>
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <li>@ingredient.Name - @ingredient.Quantity</li>
                            }
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<dt class="col-sm-2">Tags</dt>
<dd class="col-sm-10">
    @{
        var tagCount = ViewBag.TagNames.Count;
    }
    <span>
        @foreach (var tagName in ViewBag.TagNames)
        {
            @tagName
            @if (--tagCount > 0)
            {
                @Html.Raw("  |  ")
            }
        }
    </span>
</dd>



