@model IEnumerable<MasterProject.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

@using (Html.BeginForm("Index", "Recipes", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchString", null, new { @id = "searchString", @class = "form-control" })
        <input type="submit" value="Szukaj" class="btn btn-primary" />
        <a href="@Url.Action("Index", "Recipes")" class="btn btn-secondary">Wyczyść</a>
    </p>
}


@if (!ViewBag.IsSearching)
{
    <h2>Rekomendowane dla Ciebie</h2>
    <div class="row">
        @if (ViewBag.RecommendedRecipes != null && ViewBag.RecommendedRecipes.Count > 0)
        {
            @foreach (var item in ViewBag.RecommendedRecipes)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@item.ImageUrl" class="card-img-top" alt="Obraz przepisu" onerror="this.onerror=null;this.src='https://via.placeholder.com/150';">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Kcal: @item.Kcal</p>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary">Szczegóły</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Brak rekomendacji dla Ciebie.</p>
        }
    </div>

    <h2>Najlepiej oceniane</h2>
    <div class="row">
        @if (ViewBag.TopRecipes != null && ViewBag.TopRecipes.Count > 0)
        {
            @foreach (var item in ViewBag.TopRecipes)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@item.ImageUrl" class="card-img-top" alt="Obraz przepisu" onerror="this.onerror=null;this.src='https://via.placeholder.com/150';">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Kcal: @item.Kcal</p>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary">Szczegóły</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Brak najlepszych przepisów do wyświetlenia.</p>
        }
    </div>
}

<h2>Więcej przepisów</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top" alt="Obraz przepisu" onerror="this.onerror=null;this.src='https://via.placeholder.com/150';">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Kcal: @item.Kcal</p>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary">Szczegóły</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Count() > 0)
            {
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                @if (ViewBag.CurrentPage > 5)
                {
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
                @for (int i = ViewBag.CurrentPage - 4; i <= ViewBag.CurrentPage + 5 && i <= ViewBag.TotalPages; i++)
                {
                    if (i > 1 && i < ViewBag.TotalPages)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                }
                @if (ViewBag.TotalPages > ViewBag.CurrentPage + 5)
                {
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
                @if (ViewBag.TotalPages > 1)
                {
                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?page=@ViewBag.TotalPages">@ViewBag.TotalPages</a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <script>
        $(document).ready(function () {
            $("#searchString").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("Autocomplete", "Recipes")',
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
}
